# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Logs
*.log
pipeline.log

# ML experiment tracking
mlruns/

# Models
*.pkl
*.pt
*.pth
*.ckpt

# Data
data/
dataset/
*.csv

# Plots / outputs
*.png

# Environment
.env
venv/